body {
    background-color: #ffffff;
}

.container {
    margin: 20px auto 0;
    max-width: 960px;
    padding: 0 48px;
}

.nativePanel {
    background-color: #5352ed;
}

.note {
    background-color: #5352ed;
    padding: 16px 32px;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -3.8;
    color: #ffffff;
}

.info_panel {
    background-color: #5352ed;
    padding: 16px 32px;
    color: #ffffff;
    margin: 5px 0;
    width: 100%;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.info_panel_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.info_panel_group .info_panel {
    width: calc(50% - 5px);
    cursor: pointer;
}

.info_panel_group_small .info_panel {
    width: calc(33% - 5px);
}

.info_panel_bold {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.info_panel_title {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

.info_panel_list {
    margin: 10px 0 5px;
}

.holiday {
    line-height: 22px;
    font-size: 14px;
    letter-spacing: 0.5px;
}

@media (max-width: 600px) {
    .info_panel_group {
        flex-direction: column;
    }

    .info_panel_group .info_panel {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .info_panel {
        padding: 12px 16px;
    }
}
