.icon-card--blue {
  color: #63b9ba !important;
  background: rgba(99, 185, 186, 0.12) !important;
}

.icon-card svg {
  width: 40px;
}
.card-planet__body > div {
  padding: 0.8rem;
}
.card-planet {
  height: 150px !important;
  position: relative;
  overflow: hidden;
}
.icon-card--small {
  width: 56px;
  height: 56px;
  margin-bottom: 2px;
}

.card-planet > svg {
  position: absolute;
  width: 75%;
  top: -40%;
  right: -25%;
}

.grid--custom {
  padding: 10px !important;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.grid--custom .card-wrapper {
  width: 90px;
  height: 100px;
  margin-top: 12px;
}
.grid--custom .card-wrapper,
.waste-flex__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon--centered,
.icon--centered-column {
  height: 100%;
  display: flex;
  justify-content: center;
}

.icon--centered {
  align-items: center;
}

.icon-text {
  text-align: center;
  margin-top: 5px;
}

.main-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: space-around;
  padding-top: 20px;
}

.planet .card-planet__body > div {
  background: unset;
}

.card-planet {
  height: 100px;
  width: 100%;
}

.card-planet__name {
  text-align: center;
  padding: 16px 0 8px;

  overflow-wrap: normal !important;
}
.d-row {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.checklist {
  display: flex;
  margin: 16px 0;
}

.checklist__icon {
  margin-right: 8px;
}

.planet__subtitle {
  margin: 16px 0 8px 0;
}

.planet > dl > div {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.planet > dl > div > span {
  flex: 1;
  border-bottom: 2px dotted #fff;
}
dt {
  margin-right: 8px;
}
dd {
  margin-inline-start: 8px !important;
  white-space: pre;
}

.planet {
  position: relative;
}

.planet > svg {
  position: absolute;
  top: -10%;
  width: 30vw;
  filter: brightness(40%);
  right: -10%;
  z-index: -1;
}
#root {
  overflow-x: hidden;
}
